


node_modules
.pnp
.pnp.js


venv/
.env/


coverage/


/build


.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log


__pycache__/
*.pyc
*.pyo
*.pyd


database.py
config.py
firebase_config.json

student-performance-syst-a49d8-firebase-adminsdk-fbsvc-004baa13d6.json


dataconnect/
dataconnect generated/

